body {background-color: aqua ;
    font-family: Georgia ;}
h1 {font-family: Comic Sans MS ;
  font-size: 60px;
 color: darkblue;}
 h3 a {color: white;}
h4 {text-align: right;
  font-style: italic;}
.p1 {text-align: center;
     color: orange;}
.p2 {text-align: right;}