h1 {background-color: black;
color: white;
text-align: center;}
.image, .footer, .header  { text-align: center;}
h3 {text-align: center;}
.container {width: 100%;
height: 100%; border: 1px solid;}

.footer {background-color: black;
color: white; font-weight: bold;
padding-bottom: 1px;}